<div
  id="store-nav-auth"
  class="store-nav-auth"
  data-identity-base="{{ identity_base_url|safe }}"
  data-edit-profile-url="{{ edit_profile_url|safe }}"
>
  <div id="store-nav-signed-out">
    <a class="btn btn-outline-light btn-sm" href="{{ sign_in_url|safe }}">Sign in</a>
  </div>
  <div id="store-nav-signed-in" class="d-none d-flex align-items-center gap-2">
    <span id="store-nav-welcome" class="store-nav-welcome text-light small"></span>
    <a class="btn btn-outline-light btn-sm" href="{{ logout_url|safe }}">Sign out</a>
  </div>
</div>
<script type="module" src="/static/js/store-nav-auth.js"></script>
